@use 'variables' as v;


*,
*:after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  font-size: v.$base-font-size;
  background-color: v.$color-white;
}

.dark-mode {
  color: v.$color-white;
  background-color: black;
  transition: all 1s ease;
}

body {
  font-family: v.$primary-font;
  min-height: 100vh;
  transition: all 1s ease;
}


.container {
  width: 100%;
  max-width: calc(1366px + v.$mobile-container-padding-x);
  padding: {
    left: v.$mobile-container-padding-x;
    right: v.$mobile-container-padding-x;
  }
  margin: {
    left: auto;
    right: auto;
  }
}

a,
button {
  cursor: pointer;
}
